<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPm_V007l_lcwwLsJ_ANJVBKpVEPAnKC8</string>
	<key>GCM_SENDER_ID</key>
	<string>85778880268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studentFundApp</string>
	<key>PROJECT_ID</key>
	<string>student-loan-b4e7d</string>
	<key>STORAGE_BUCKET</key>
	<string>student-loan-b4e7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85778880268:ios:077e386c0eb6f90edddb29</string>
</dict>
</plist>